<app-home-header></app-home-header>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<section>
  <nav>
    <p>Aqui va el perfil</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec enim eu nunc convallis accumsan quis non lectus. Aliquam a diam at ante sagittis consequat non consequat purus. Mauris placerat est non semper cursus. Aliquam erat volutpat. Curabitur turpis enim, tincidunt vitae neque lacinia, porttitor sollicitudin eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent quis neque ac quam dapibus auctor. Aenean facilisis ligula ligula, eget ornare nisi sollicitudin quis.

      Aenean eget purus felis. Praesent scelerisque lobortis dolor, quis lobortis odio. Phasellus elementum efficitur tortor, sed rhoncus diam bibendum dignissim. Sed semper diam erat. Vivamus viverra enim sit amet cursus porta. Nulla consectetur dignissim justo, id bibendum dolor dictum id. Vivamus ipsum eros, maximus auctor dui vel, placerat consequat lacus. Morbi nec enim sed orci euismod malesuada.

      Sed dui nisl, molestie nec ex a, dictum sollicitudin nisl. Ut efficitur ut mi eget ultrices. Nullam feugiat urna ac ipsum hendrerit consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor libero turpis, vel semper diam gravida a. Donec faucibus tempor nisi at ultricies. Fusce neque orci, cursus id nulla id, eleifend pellentesque ligula. Maecenas non nisl suscipit lacus tristique congue sed sed dolor. Donec nisl nibh, auctor non scelerisque id, vulputate id orci.

      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed pharetra imperdiet ligula ornare sollicitudin. Cras semper pretium tristique. Maecenas finibus nulla a blandit rutrum. Integer et tincidunt elit, nec aliquam ligula. Nulla vitae enim ut augue faucibus faucibus non in velit. Maecenas feugiat ut justo a finibus. Aliquam et consectetur ipsum. Suspendisse non lacus urna. Vivamus felis elit, pellentesque a fermentum sit amet, scelerisque rutrum leo. Donec magna libero, blandit sed volutpat et, ornare non eros.

      Aliquam erat volutpat. Morbi pharetra dictum lacinia. Curabitur convallis euismod erat ut aliquam. Mauris eget purus eget velit ullamcorper auctor. Vivamus eget pulvinar eros. Aliquam rutrum ac tellus eget consequat. Quisque at mattis ante. Integer mauris est, faucibus sed est eget, ultrices luctus dui. Integer sed nunc neque. Vivamus vulputate eros at ipsum gravida vestibulum. Suspendisse potenti.

      Aenean vel diam eros. Sed nisi elit, aliquet vitae egestas tempor, viverra id lorem. Cras fermentum est ipsum, ut iaculis metus pharetra sit amet. Phasellus non turpis facilisis, posuere nisl quis, convallis mauris. Donec quis elit justo. Integer ut vulputate massa. Nulla fringilla est tincidunt ullamcorper condimentum. Suspendisse potenti. Vivamus non tortor sem. Fusce nec venenatis enim, nec aliquet urna.

      Nulla sed tempus magna. Duis sed quam felis. Vivamus lectus eros, porta luctus vestibulum a, ornare sed eros. Duis at tellus congue, mollis lacus in, facilisis nisi. Aliquam porttitor est lectus, eget dignissim lectus condimentum in. In facilisis rutrum nisi a vulputate. Proin tortor elit, commodo a semper vel, euismod ultrices purus. Fusce erat leo, tempor eget augue ut, fringilla cursus massa. Duis finibus placerat tellus in ultrices. Sed nec felis ut mi euismod varius nec non magna. Pellentesque ut porta ipsum. Nam ornare justo tempor dui lobortis, sed accumsan nibh maximus. Suspendisse.
    </p>
  </nav>

  <article>
    <p> Aqui van las actividades</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec enim eu nunc convallis accumsan quis non lectus. Aliquam a diam at ante sagittis consequat non consequat purus. Mauris placerat est non semper cursus. Aliquam erat volutpat. Curabitur turpis enim, tincidunt vitae neque lacinia, porttitor sollicitudin eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent quis neque ac quam dapibus auctor. Aenean facilisis ligula ligula, eget ornare nisi sollicitudin quis.

      Aenean eget purus felis. Praesent scelerisque lobortis dolor, quis lobortis odio. Phasellus elementum efficitur tortor, sed rhoncus diam bibendum dignissim. Sed semper diam erat. Vivamus viverra enim sit amet cursus porta. Nulla consectetur dignissim justo, id bibendum dolor dictum id. Vivamus ipsum eros, maximus auctor dui vel, placerat consequat lacus. Morbi nec enim sed orci euismod malesuada.

      Sed dui nisl, molestie nec ex a, dictum sollicitudin nisl. Ut efficitur ut mi eget ultrices. Nullam feugiat urna ac ipsum hendrerit consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor libero turpis, vel semper diam gravida a. Donec faucibus tempor nisi at ultricies. Fusce neque orci, cursus id nulla id, eleifend pellentesque ligula. Maecenas non nisl suscipit lacus tristique congue sed sed dolor. Donec nisl nibh, auctor non scelerisque id, vulputate id orci.

      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed pharetra imperdiet ligula ornare sollicitudin. Cras semper pretium tristique. Maecenas finibus nulla a blandit rutrum. Integer et tincidunt elit, nec aliquam ligula. Nulla vitae enim ut augue faucibus faucibus non in velit. Maecenas feugiat ut justo a finibus. Aliquam et consectetur ipsum. Suspendisse non lacus urna. Vivamus felis elit, pellentesque a fermentum sit amet, scelerisque rutrum leo. Donec magna libero, blandit sed volutpat et, ornare non eros.

      Aliquam erat volutpat. Morbi pharetra dictum lacinia. Curabitur convallis euismod erat ut aliquam. Mauris eget purus eget velit ullamcorper auctor. Vivamus eget pulvinar eros. Aliquam rutrum ac tellus eget consequat. Quisque at mattis ante. Integer mauris est, faucibus sed est eget, ultrices luctus dui. Integer sed nunc neque. Vivamus vulputate eros at ipsum gravida vestibulum. Suspendisse potenti.

      Aenean vel diam eros. Sed nisi elit, aliquet vitae egestas tempor, viverra id lorem. Cras fermentum est ipsum, ut iaculis metus pharetra sit amet. Phasellus non turpis facilisis, posuere nisl quis, convallis mauris. Donec quis elit justo. Integer ut vulputate massa. Nulla fringilla est tincidunt ullamcorper condimentum. Suspendisse potenti. Vivamus non tortor sem. Fusce nec venenatis enim, nec aliquet urna.

      Nulla sed tempus magna. Duis sed quam felis. Vivamus lectus eros, porta luctus vestibulum a, ornare sed eros. Duis at tellus congue, mollis lacus in, facilisis nisi. Aliquam porttitor est lectus, eget dignissim lectus condimentum in. In facilisis rutrum nisi a vulputate. Proin tortor elit, commodo a semper vel, euismod ultrices purus. Fusce erat leo, tempor eget augue ut, fringilla cursus massa. Duis finibus placerat tellus in ultrices. Sed nec felis ut mi euismod varius nec non magna. Pellentesque ut porta ipsum. Nam ornare justo tempor dui lobortis, sed accumsan nibh maximus. Suspendisse.
    </p>
  </article>
</section>

