<app-home-header></app-home-header>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>




<div class="container-fluid gedf-wrapper">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="mr-2">
            <img class="rounded-circle" width="45" src="{{atleta.foto}}" alt="">
          </div>
          <div class="h5">@{{atleta.nombreusuario}}</div>
          <div class="h7 text-muted">{{atleta.primernombre + " " + atleta.apellidos}}</div>
          <div class="h7"> profesional en béisbol, baloncesto, natacion.
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">Followers</div>
            <div class="h5">{{followers}}</div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">Following</div>
            <div class="h5">{{following}}</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 gedf-main">

      <ng-container *ngFor="let athlete of atletas; let i = index">
        <div>
          <div id="map{{i}}" style="width: 100%; height: 140px;"></div>
          <app-card-actividad [atleta]="athlete" ></app-card-actividad>
        </div>
      </ng-container>


    </div>
    <div class="col-md-3" >
      <div class="card gedf-card" >
        <div class="card-body">
          <h5 class="card-title">Carreras</h5>
          <p class="card-text">Compite en las diferentes carreras, para ganar diferentes premios</p>
          <a href="#" class="card-link" routerLink="/misCarreras" >Mis carreras</a>
          <a href="#" class="card-link" routerLink="/carreras" >Nuevas carreras</a>
        </div>
      </div>
      <div class="card gedf-card" >
        <div class="card-body">
          <h5 class="card-title">Retos</h5>
          <p class="card-text">Desafiate y mejora tu rendimeinto.</p>
          <a href="#" class="card-link" routerLink="/progreso" >Mis retos</a>
          <a href="#" class="card-link" routerLink="/retos" >Nuevos retos</a>
        </div>
      </div>
      <div class="card gedf-card" >
        <div class="card-body">
          <h5 class="card-title">Grupos</h5>
          <p class="card-text">Conoce nuevos grupos de persona con sus mismos intereses.</p>
          <a href="#" class="card-link" routerLink="/misGrupos" >Mis grupos</a>
          <a href="#" class="card-link" routerLink="/Grupos">Nuevos grupos</a>
        </div>
      </div>
    </div>
  </div>
</div>
