.map-container {
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
  padding-top: 20px;
  padding-left: 20px;
}

.map-frame {
  min-height: 100px;
  border: 2px solid black;
  height: 80%;
  width: 90%;
}

#map {
  height: 100%;
}
