<app-home-header></app-home-header>


<h1>Grupos</h1>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>

<section id="gallery">
  <div class="container" style="min-width: 75%">
    <div class="row">
      <div class="col-md-4 mx-auto my-1" style="padding: 10px" *ngFor="let grupo of grupos">
        <div class="card card-inverse card-info">
          <img class="card-img-top" src='https://corendon.com.tr/upload/2015050807445394-spor.jpg'>
          <div class="card-block">
            <figure class="profile profile-inline">
              <img src="https://corendon.com.tr/upload/2015050807445394-spor.jpg" class="profile-avatar" alt="">
            </figure>
            <h4 class="card-title">{{grupo.nombreGrupo}}</h4>
            <div class="card-text">
              Administrador: {{grupo.admin}}
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-info btn-sm" (click)="unirse(grupo)" style="margin-right: 20px">Unirse</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<app-home-footer></app-home-footer>
