<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
<app-home-header></app-home-header>
<div class="footerActualizar">
  <a routerLink="/inicio" routerLinkActive="active" href="#" class="Cbtn btn-light btn-lg">Volver</a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor= "let carrera of misCarreras; let i = index">
      <div class="tile">
        <div class="wrapper">
          <div id="map{{i}}" style="width: 100%; height: 140px;"></div>
          <div class="stats">
            <div>
              <strong>Nombre: </strong> {{carrera.nombreCarrera}}
            </div>
            <div>
              <strong>Tipo: </strong> {{carrera.tipo}}
            </div>
            <div>
              <strong>Fecha: </strong> {{carrera.fecha}}
            </div>
          </div>
          <div class="stats">
            <div>
              <strong>Categoría: </strong> {{carrera.categoria}}
            </div>
            <div>
              <strong>Kilometraje: </strong> {{carrera.kilometraje}}
            </div>
            <div>
              <strong>Altura: </strong> {{carrera.altura}}
            </div>
          </div>
          <div class="footer">
            <button routerLink="participantesCarrera" (click)="tablaPosiciones(carrera)" class="btn-block btn-primary">Tabla de posiciones</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



