
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<app-admin-header></app-admin-header>
<div class ="imagenFondo">
  <div class="container">
    <form class="form-horizontal" role="form">
      <h2>Actualizacion de datos</h2>
      <div class="form-group">
        <label for="NombreGrupo" class="col-sm-3 control-label">Nombre Grupo</label>
        <div class="col-sm-9">
          <input type="text" id="NombreGrupo" placeholder="Nombre Grupo" value="{{this.grupo.nombreGrupo}}" class="form-control" autofocus>
        </div>
      </div>
      <button  (click)="actualizar()"  class="btn btn-primary btn-block">Actualizar Datos</button>
      <button routerLink="/admigrupos" routerLinkActive="active" (click)="devolver()"  class="Cbtn btn-light btn-block">Volver</button>
    </form> <!-- /form -->
  </div> <!-- ./container -->
</div>
