<app-home-header></app-home-header>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body>
<h1>Partipantes de la carrera: {{nombreCarrera}}</h1>
<div class="grid-container">
  <div class="left">
    <div class="sticky">
      <h3>Ordenados por categorias</h3>
      <button class="btn-primary btn" (click)="openPDFCategorias()" style="margin-left: 20px">Exportar como PDF</button>
    </div>
    <div class="container FixedHeightContainer outer totalWidth" id="categorias">
      <div class="row Content scrollbar-light-blue inner ">
        <div id="categoriasData" class="totalWidth">
          <h1>Junior:</h1>
          <div class="col-md-12 Relative totalWidth">
            <table class="table table-striped text-white table-hover totalWidth" id="junior" #juniorCat>
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Edad</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let athlete of junior">
                <td>{{athlete.nombre}}</td>
                <td>{{athlete.edad}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <h1>Sub-23:</h1>
          <div class="col-md-12 Relative totalWidth">
            <table class="table table-striped text-white table-hover totalWidth" id="sub23">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Edad</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let athlete of sub23">
                <td>{{athlete.nombre}}</td>
                <td>{{athlete.edad}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <h1>Open:</h1>
          <div class="col-md-12 Relative">
            <table class="table table-striped text-white table-hover totalWidth" id="open">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Edad</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let athlete of open">
                <td>{{athlete.nombre}}</td>
                <td>{{athlete.edad}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <h1>Master A:</h1>
          <div class="col-md-12 Relative">
            <table class="table table-striped text-white table-hover totalWidth" id="masterA">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Edad</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let athlete of masterA">
                <td>{{athlete.nombre}}</td>
                <td>{{athlete.edad}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <h1>Master B:</h1>
          <div class="col-md-12 Relative">
            <table class="table table-striped text-white table-hover totalWidth" id="masterB">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Edad</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let athlete of masterB">
                <td>{{athlete.nombre}}</td>
                <td>{{athlete.edad}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <h1>Master C:</h1>
          <div class="col-md-12 Relative">
            <table class="table table-striped text-white table-hover totalWidth" id="masterC">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Edad</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let athlete of masterC">
                <td>{{athlete.nombre}}</td>
                <td>{{athlete.edad}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <h1>Élite:</h1>
          <div class="col-md-12 Relative">
            <table class="table table-striped text-white table-hover totalWidth" id="Elite">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Edad</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let athlete of Elite">
                <td>{{athlete.nombre}}</td>
                <td>{{athlete.edad}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    </div>
  </div>
  <div class="right">
    <div class="sticky">
      <h3>Ordenados por tiempos</h3>
      <button class="btn-primary btn" (click)="openPDFTiempos()" style="margin-left: 20px">Exportar como pdf</button>
    </div>
    <div class="container FixedHeightContainer outer" id="posiciones">
      <div class="row Content scrollbar-light-blue inner">
        <h1>Orden descendente</h1>
        <table class="table table-striped text-white table-hover totalWidth" id="tiempos">
          <thead>
          <tr>
            <th>Posición</th>
            <th>Nombre</th>
            <th>Edad</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let athlete of porTiempo; let i = index">
            <td>{{i}}</td>
            <td>{{athlete.nombre}}</td>
            <td>{{athlete.edad}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-home-footer></app-home-footer>
</body>

