<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript">
  $(function(){
    $.validator.setDefaults({
      highlight: function(element){
        $(element)
          .closest('.form-group')
          .addClass('has-error')
      },
      unhighlight: function(element){
        $(element)
          .closest('.form-group')
          .removeClass('has-error')
      }
    });

    $.validate({
      rules:
        {
          password: "Requerido",
          birthDate: "Requerido",
          weight: {
            required:true,
            number:true
          },
          height:  {
            required:true,
            number:true
          },
          email: {
            required: true,
            email: true
          }
        },
      messages:{
        email: {
          required: true,
          email: true
        }
      },
      password: {
        required: " Ingrese una contraseña"
      },
      birthDate: {
        required: " Ingrese una fecha"
      },
      email: {
        required: ' Ingrese el email',
        email: ' Ingrese un email válido'
      },
      weight: {
        required: " Ingrese su peso",
        number: " Solo se aceptan números"
      },
      height: {
        required: " Ingrese su altura",
        number: " Solo se aceptan números"
      },
    })
    $("input:checkbox").on('click', function() {
      // in the handler, 'this' refers to the box clicked on
      var $box = $(this);
      if ($box.is(":checked")) {
        // the name of the box is retrieved using the .attr() method
        // as it is assumed and expected to be immutable
        var group = "input:radio[name='" + $box.attr("name") + "']";
        // the checked state of the group/box on the other hand will change
        // and the current value is retrieved using .prop() method
        $(group).prop("checked", false);
        $box.prop("checked", true);
      } else {
        $box.prop("checked", false);
      }
    });
  })
</script>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container">
  <form class="form-horizontal" role="form">
    <h3>Subscribirse</h3>
    <div class="form-group">
      <label for="categoria" class="col-sm-3 control-label">Categoria</label>
      <div class="col-sm-9">
        <select class="form-control" id="categoria" name="platform" required="required">
          <option value="{{atleta.categoria}}">{{atleta.categoria}}</option>
          <option value="Élite">Elite</option>
        </select>
      </div>
    </div>
    <!-- /.form-group -->
    <div class="form-group">
      <label class="col-sm-3 control-label" for="photo">Foto del recibo</label>
      <div class="col-sm-9">
        <input type="file" id="photo" accept=".png, .jpg"  #image (change)="setByteArray(image.files)" name="file" required="required">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <span class="help-block">*Requisitos obligatorios</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block"  (click)="sub()">Subscribirse</button>
    <button type="submit" class="btn btn-primary btn-block"  routerLink="/carrera">Volver</button>
  </form> <!-- /form -->
</div> <!-- ./container -->
</body>
