<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<app-home-header></app-home-header>
<div class="container">
  <div class="row">
    <div class="col-lg-12 card-margin">
      <div class="card search-form">
        <div class="card-body p-0">
          <form id="search-form">
            <div class="row">
              <div class="col-12">
                <div class="row no-gutters">
                  <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                    <input type="text" placeholder="Search..." class="form-control" id="search" name="search">
                  </div>
                  <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                    <button type="submit" class="btn btn-base" (click)="buscarAmigo()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-margin">
        <div class="card-body">
          <div class="row search-body">
            <div class="col-lg-12">
              <div class="search-result">
                <div class="container">
                  <div class="row text-center">

                    <!-- Team item -->
                    <div class="col-xl-3 col-sm-6 mb-5" *ngFor="let atleta of atletas">
                      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{{atleta.foto}}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">{{atleta.nombreusuario}}</h5><span class="small text-uppercase text-muted">{{atleta.primernombre + " " + atleta.apellidos}}</span>
                        <ul class="social mb-0 list-inline mt-3">
                          <li class="list-inline-item"><a  (click)="agregarAmigo(atleta)" class="social-link"><i class="fa fa-plus-square" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
