<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
<app-admin-header></app-admin-header>
<div class="footerActualizar">
  <a routerLink="/admigrupos" routerLinkActive="active" class="Cbtn btn-light btn-lg">Volver</a>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor = "let deportista of deportistas">
      <div class="tile">
        <div class="wrapper">
          <div class="imagen"></div>
          <div class="stats">
            <div>
              <strong>Nombre: </strong> {{deportista.nombre+" "+deportista.apellidos }}
            </div>
            <div>
              <strong>Cedula: </strong> {{deportista.idUsuario}}
            </div>
          </div>
          <div class="footer">
            <button mat-button class = "btn-block btn-danger" (click) = "borrarDeportista(deportista)" >Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



