<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<app-admin-header></app-admin-header>
<div class="body"></div>
<ul>
  <div *ngFor="let grupo of grupos">
    <li class= "booking-card">
      <div class="book-container">
        <div class="content">
          <button routerLink="/actualizarGrupo" routerLinkActive="active" (click) = "ActualizarClick(grupo)" class="btn">Actualizar Grupo</button>
        </div>
      </div>
      <div class="informations-container">
        <h2 class="title">Grupo: {{grupo.nombreGrupo}}</h2>
        <p class="sub-title">ID del grupo: {{grupo.Idgrupo}}</p>
        <div class="more-information">
          <div class="info-and-date-container">
            <div class="cajita">
              <button routerLink="/gestionGrupos" routerLinkActive="active" (click) = "GestionClick(grupo)" type="submit" class="btn btn-primary">Gestion Miembros</button>
            </div>
            <div class="cajita">
                <button (click) = "DeleteClick(grupo)" class="btn btn-danger">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </div>
</ul>
