.aCustom:link {
  text-decoration: none;
}

.aCustom:visited {
  text-decoration: none;
}

.aCustom:hover {
  text-decoration: underline;
}

.aCustom.active {
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  font-size: large;
  grid-template-areas:
    "left-column right-column";
}
