<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target === modal) {
      modal.style.display = "none";
    }
  }
</script>

<app-home-header></app-home-header>

<h1>Mis actividades</h1>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
<br>
<button class="button  arrow" routerLink="/newActivity">Nueva actividad</button>
<br>

<section id="gallery">
  <div class="container" style="min-width: 75%">
    <div class="row">
      <div class="col-md-4 mx-auto my-1" style="padding: 10px" *ngFor="let activity of actividades">
        <div class="card card-inverse card-info">
          <img class="card-img-top" src="../../../../../assets/images/activityTypes/{{activity.tipo}}.jpg">
          <div class="card-block">
            <figure class="profile profile-inline">
              <img src="../../../../../assets/images/activityTypes/{{activity.tipo}}.jpg" class="profile-avatar" alt="">
            </figure>
            <h4 class="card-title">{{activity.nombreActividad}}</h4>
            <div class="card-text">
              Fecha: {{activity.fecha}}
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-info btn-sm" style="margin-right: 20px" (click)="goToCategoryInfo(activity)">Información</button>
            <button class="btn btn-danger btn-sm" (click)="clickMethod(activity)" >Eliminar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<app-home-footer></app-home-footer>
