<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>


<div class="card gedf-card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-2">
          <img class="rounded-circle" width="45" src="{{atleta.fotoAmigo}}" alt="">
        </div>
        <div class="ml-2">
          <div class="h5 m-0">{{"@"+atleta.nombreAmigo}}</div>
          <div class="h7 text-muted">{{atleta.nombreAmigo + " " + atleta.apellidoAmigo}}</div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{atleta.fecha}}</div>
    <a class="card-link">
      <h5 class="card-title">{{atleta.nombreactividad}}</h5>
    </a>

    <p class="card-text">
      {{"Tipo: "+atleta.tipo}}
    </p>
    <p class="card-text">
      {{"Distancia: "+atleta.kilometros+"Km"}}
    </p>
  </div>
  <div class="card-footer">
    <a  class="card-link"><i class="fa fa-gittip"></i> Like</a>
  </div>
</div>

